openapi: 3.0.4
info:
  title: IP Lookup
  description: >-
    IP Lookup resolves an IP address to its geographic location. It returns the
    country, region, city, coordinates, postal code, timezone and continent,
    along with an accuracy radius and an EU-membership flag for compliance
    routing.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/iplookup:
    get:
      summary: Lookup IP
      description: Lookup the details and location of an IP address
      operationId: iplookup
      parameters:
        - name: ip
          in: query
          schema:
            type: string
          required: true
          description: >-
            The IP address for which you want to get the location data (e.g.,
            173.172.81.20)
          example: 173.172.81.20
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  ip: 173.172.81.20
                  country: US
                  countryName: United States
                  region: MO
                  regionName: Missouri
                  city: Kansas City
                  continent: NA
                  continentName: North America
                  timezone: America/Chicago
                  coordinates:
                    - 39.0831
                    - -94.5853
                  postalCode: '64106'
                  accuracyRadius: 20
                  isEU: false
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
